.form-item-container{
  border: solid #6A8D73 2px;
  background-color: whitesmoke;
  margin: 5px;
}

.quiz-form-main-container{
  background-color: white;
  padding: 5px 5px 5px 5px;
  text-align: left;
}